# Global
*.log

# Node modules in any partX directory
part*/part*/node_modules/

# Coverage in any partX directory
part*/part*/coverage/

# Build in any partX directory
part*/part*/build/

# DS_Store in any partX directory
part*/part*/.DS_Store

# Env files in any partX directory
part*/part*/.env*
